.header {
  background-color: #d6d0d0;
  padding: 1.5rem 2rem;
  border-left: 6px solid #3f0d19;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  color: #1f1f1f;
  font-family: "Segoe UI", sans-serif;

  width: min(max(350px, 60%), 100%);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.5px;
}

.header p {
  font-size: 1rem;
  color: #444;
  margin-top: 0.25rem;
}